
@font-face {
    font-family: 'Helonik Extended';
    src: url(./fonts/Gotham-Bold.otf);
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Helonik Extended', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.skin-details {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.skin-image img {
    width: 400px;
    height: auto;
    object-fit: contain;
    
}

.skin-info {
    flex: 1;
}

.skin-info h1 {
    font-size: 64px;
    color: #FFD32D;
    margin: 0 0 20px 0;
}

.divider {
    height: 2px;
    width: 100%;
    margin: 20px 0;
    background: linear-gradient(90deg, #FFFFFF 0%, #FFD32D 100%);
    border: none;
}

.skin-description {
    color: #CCCCCC;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.skin-attributes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #CCCCCC;
    font-size: 27px;
}

.skin-attributes span {
    color: #FFFFFF;
}

.cases-container {
    margin-top: 20px;
    text-align: center;
}

.cases-container h2 {
    font-size: 24px;
    color: #FFFFFF;
}

.cases-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.case-item {
    background-color: #3F3C38;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
}

.case-item img {
    width: 100px;
    border-radius: 5px;
}

.no-cases {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
}

.crates-container {
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;
margin-top: 10px;
padding-top: 10px;
}

.back-button {
background-color: #FFD32D;
border: none;
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px;
transition: all 0.1s ease;
box-shadow: 0 4px #AC8907;
cursor: pointer;
text-decoration: none;
}

.back-button img {
width: 50%;
height: auto;
}

.back-button:active {
background-color: #FFC107;
transform: translateY(4px);
box-shadow: 0 1px #AC8907;
}



.crate-item {
text-align: center;
width: 120px;
}

.crate-item img {
width: 100%;
border-radius: 5px;
}

.separator {
height: 3px;
width: 100%;
background: linear-gradient(to right, white, yellow);
margin: 15px 0;
border-radius: 2px;
}

body {
    --sb-track-color: #232e33;
    --sb-thumb-color: #ffd32d;
    --sb-size: 8px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 25px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 25px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

    
